[submodule "libraries/CocoaBit"]
	path = libraries/CocoaBit
	url = https://github.com/cocoabit/SampleProgram.git
[submodule "libraries/NefryRestApi"]
	path = libraries/NefryRestApi
	url = https://github.com/Nefry-Community/RestAPIlibrary
